@model Cassanello.Web.Datos.Entidades.Visitador

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Visitador</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="NomVisitador" class="control-label"></label>
                <input asp-for="NomVisitador" class="form-control" />
                <span asp-validation-for="NomVisitador" class="text-danger"></span>
            </div>            

            <div class="form-group">
                <label asp-for="Telefono" class="control-label"></label>
                <input asp-for="Telefono" class="form-control" />
                <span asp-validation-for="Telefono" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Laboratorio" class="control-label"></label>
                <input asp-for="Laboratorio" class="form-control" />
                <span asp-validation-for="Laboratorio" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-success" />
                <a asp-action="Index" class="btn btn-default">Volver a la lista</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
